@model Web.Models.ExpenseViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
    var userrole = 0;
    if (HttpContextAccessor.HttpContext.Session.TryGetValue("UserRole", out byte[]? value))
    {
        if (BitConverter.IsLittleEndian)
        {
            Array.Reverse(value);
        }

        userrole = BitConverter.ToInt32(value, 0);
    }
    bool isNotEmployee = userrole == 1 ? false : true;
    bool isManager = userrole == 2 ? true : false;
}

@if (Model.Id == 0)
{
    <h4>Create Expense Form</h4>
}
else
{
    <h4>Expense Details</h4>
}
<hr />
<div class="col-md-6">
    <form asp-action="AddorEdit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Currency" class="control-label"></label>
            @if (isNotEmployee)
            {
                <input asp-for="Currency" class="form-control" readonly="readonly" />
            }
            else
            {
                <input asp-for="Currency" class="form-control" />
            }
            <span asp-validation-for="Currency" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalAmount" class="control-label"></label>
            <input asp-for="TotalAmount" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Purpose" class="control-label"></label>
            @if (isNotEmployee)
            {
                <input asp-for="Purpose" class="form-control" readonly="readonly" />
            }
            else
            {
                <input asp-for="Purpose" class="form-control" />
            }
            <span asp-validation-for="Purpose" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StatusType" class="control-label"></label>
            <input asp-for="StatusType" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Remark" class="control-label"></label>
            <input asp-for="Remark" class="form-control" readonly="readonly" />
        </div>
        <div class="form-row">
            @if (!isNotEmployee)
            {
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-secondary btn-block" />
                    @*<a asp-action="ViewBills" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Add Bill</a>*@
                </div>
                //<div class="form-group col-md-6">
                //    <input type="button" value="List all bills" onclick="location.href='@Url.Action("ListBills", "Expense", new {Model.Id})'" />
                //</div>
                <div class="form-group col-md-6">
                    <input type="button" value="Add a bill" onclick="location.href='@Url.Action("AddorEditBill", "Expense",  new {id = 0, expenseid = Model.Id})'" class="btn btn-secondary btn-block" />
                </div>
            }
            <div class="form-group col-md-6">
                <input type="button" value="List all bills" onclick="location.href='@Url.Action("ListBills", "Expense", new {expenseid = Model.Id})'" class="btn btn-secondary btn-block" />
            </div>
            <div class="form-group col-md-6">
                <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }